.battle {
    width: 100%;
    background-color: rgb(41, 37, 37);
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "My Comic Relief";
    
}

.battle__title-container {
    width: 450px;
    margin-top: 20px;
}

.battle__image-title {
    width: 100%;
}

.battle__arena {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    height: 440px;
}

.battle__team-container {
    background-color: orange;
    width: 500px;
    justify-self: center;
    display: flex;
    height: 440px;
    position: relative;
    border-radius: 20px;
    animation: glow-border-red 2s infinite alternate; 
}

@keyframes glow-border-red {
    0% {
        box-shadow: 0px 0px 5px 0px black, 0px 0px 15px 5px red; /* Sombra pequeña y brillante */
    }
    100% {
        box-shadow: 0px 0px 5px 0px black, 0px 0px 15px 5px red; /* Volver a la sombra inicial */
    }
}

.battle__logo-container {
    width: 150px;
    position: relative;
    margin: auto; 
    cursor: pointer;
}


.battle__logo {
    width: 100%;
}

.battle__mirror {
    transform: scaleX(-1);
}

.battle__team-formation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
    justify-content: center;
}

.battle__team-formation-rival {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    justify-content: center;
}


.battle__team-member {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 88px;
    border-color: black;
    border: 2px solid black; 
    margin: 0;
    animation: glow-border 2s infinite alternate; 
    background-color: lightblue;
    position: relative;
}

@keyframes glow-border {
    0% {
        box-shadow: 0px 0px 5px 0px black, 0px 0px 15px 5px blue; /* Sombra pequeña y brillante */
    }
    50% {
        box-shadow: 0px 0px 10px 3px black, 0px 0px 30px 10px blue; /* Aumentar brillo */
    }
    100% {
        box-shadow: 0px 0px 5px 0px black, 0px 0px 15px 5px blue; /* Volver a la sombra inicial */
    }
}

.battle__member-image-container {
    height: 70px;

}

.battle__member-image {
    height: 100%;

}

.battle__full-message {
    width: 350px;
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow-border 2s infinite alternate; 
    
}

.battle__trash-container {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
}

.battle__trash {
    width: 12px;
    height: 20px;
}

.battle__empty-slot {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: "My Comic Relief";
    color: black;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 2px red, 0 0 10px red, 0 0 15px red;
    }
    100% {
        text-shadow: 0 0 2px red, 0 0 20px red, 0 0 30px red;
    }
}

.battle__begin-fight {
    align-self: center;
    color: black;
    font-family: 'My Comic Relief Bold';
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0px 0px black;
    background:linear-gradient(to bottom, red 5%, red);
    border-radius:5px;
    border:1px solid black;
    font-size:17px;
    padding:12px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px orange;
    object-fit: contain;
    width: 150px;
    text-align: center;
    animation: glow-border-red 2s infinite alternate; 
    position: relative;
    top: -240px;
}

.battle__map-selection {
    text-align: center;
    color: orange;
    align-self: center;
    margin: 10px 10px;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    text-align: center;
}

.battle__map-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.battle__map-option {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.battle__map-option:hover {
    transform: scale(1.05);
}

.battle__map-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ccc;
}

@media (max-width: 600px) {
    .battle__arena {
        width: 90vw;
        height: 150px;
    }

    .battle__team-container {
        width: 160px;
        height: 150px;
    }

    .battle__team-member {
        width: 40px;
        height: 30px;
    }

    .battle__logo-container {
        width: 70px;
        position: relative;
        margin: auto; 
        cursor: pointer;
    }

    .battle__empty-slot {
        font-size: 20px;
        margin: 0;
        padding: 0;
        font-family: "My Comic Relief";
        color: black;
        animation: glow 1.5s infinite alternate;
    }

    .battle__title-container {
        width: 80vw;
        margin-bottom: 20px;
    }

    .battle {
        height: 300px;
    }
    
    .battle__member-image-container {
        height: auto;
        width: 15px;
    }

    .battle__member-image {
        width: 100%;
        height: auto;
    }

    .battle__trash-container {
        position: absolute;
        top: -4px;
        right: 2px;
        cursor: pointer;
        z-index: 10;
    }

    .battle__trash {
        width: 6px;
        height: 10px;
    }

    .battle__begin-fight {
        font-size: 10px;
        padding: 6px 0px;
        width: 75px;
        top: -90px;
    }

    .battle__map-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #ccc;
    }

    .battle__map-option {
        font-size: 10px;
    }

    .battle__full-message {
        width: 150px;
        text-align: center;
        font-size: 12px;
    }



}
