.header {
    background-color:black;
    display: flex  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 880px;
    justify-self: center;
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin-top: 20px;

}

.header__logo {
    width: 100%;
    object-fit: contain;
}

.header__description {
    font-family: 'My Comic Relief';
    color: orange;
    text-align: center;
    padding: 0;
    margin: 40px 0;
}

.header__button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-top: 20px;
}
.header__button {
    background-color: orange;
    color: black;
    font-family: 'My Comic Relief Bold';
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0px 0px red;
	background:linear-gradient(to bottom, rgb(255, 187, 0) 5%, orange 100%);
	border-radius:5px;
	border:1px solid orange;
	font-size:17px;
	padding:12px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px orange;
    object-fit: contain;
    width: 150px;
    text-align: center;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }