.header {
    background-color: orange;
    display: flex  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 880px;
    justify-self: center;
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
    height: 100vh;
}

.header__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin-top: 70px;
}

.header__logo {
    width: 100%;
    object-fit: contain;
}

.header__description {
    font-family: 'My Comic Relief';
    color: black;
    text-align: center;
    padding: 0;
    margin: 20px 0;
    font-size: 20px;
}

.header__button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin-bottom: 50px;
}
.header__button {
    color: black;
    font-family: 'My Comic Relief Bold';
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 0px 0px black;
	background:linear-gradient(to bottom, red 5%, red);
	border-radius:5px;
	border:1px solid black;
	font-size:17px;
	padding:12px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px red;
    object-fit: contain;
    width: 150px;
    text-align: center;
}

@keyframes fadeIn {
    to {
      opacity: 100%;
    }
  }